@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.movie-list {
  margin: 10px;
}

.card {
  margin-bottom: 10px;
  border: 1px solid #000000;
}